@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  display: block;
}

button,
select {
  cursor: pointer;
}
svg,
select {
  color: inherit;
}
h1 {
  font-size: 1.25rem;
  margin: 0;
}
h3 {
  font-size: 1.125rem;
}
body {
  background-color: var(--color-light);
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding-top: 1rem;
}
main {
  transition: padding var(--transition-duration-02) ease-in-out;
  padding-left: calc(var(--sidebar-width) + 2rem);
  padding-right: 2rem;
}

/* --- VARIABLES --- */
:root {
  /* COLORS */
  --color-light: #ffffff;
  --color-dark: #141414;
  --color-dark-02: #5c5c5c;
  --color-sidebar: rgba(245, 245, 245, 0.67);
  --color-dark-03: rgba(216, 216, 216, 0.5);

  --color-accent: rgb(224, 72, 72);

  /* CONTAINER */
  --container-width: 81.25rem;
  --container-padding-x: 1rem;

  /* SHADOWS */
  --shadow: 0 0.25rem 0.25rem 0.2rem rgb(0, 0, 0, 0.1);
  --shadow-inner: inset 0.25rem 0.25rem 0.625rem rgba(135, 135, 135, 0.2);

  /* BORDERS */
  --border: 0.063rem solid var(--color-accent);
  --border-radius: 0.625rem;

  /* PADDINGS */
  --padding: 0.313rem;

  /* GAPS */
  --gap: 0.313rem;
  --gap-02: 1rem;

  /* TRANSITIONS */
  --transition-duration: 0.2s;
  --transition-duration-02: 0.3s;

  /* ICONS */
  --icon-width: 1.875rem;
  --icon-height: 1.875rem;

  /* SIZES */

  --sidebar-width: 18.75rem;
  --radio-width: 1.25rem;
}

/* --- UTILS --- */

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
}
.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: var(--color-dark-02);
  transition: opacity var(--transition-duration) ease-in-out;
  border-radius: var(--border-radius);
  padding: var(--padding);
}
.button:hover {
  opacity: 0.5;
}
.icon-wrapper {
  border-radius: 50%;
  background-color: var(--color-accent);
  color: white;
  padding: 0.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: var(--color-sidebar);
  z-index: 1000;
  width: var(--sidebar-width);
  padding: 1rem;
  transition: transform var(--transition-duration-02) ease-in-out;
  display: flex;
  flex-direction: column;
}
.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__close-button {
  transition: background var(--transition-duration) ease-in-out,
    var(--transition-duration-02) ease-in-out;
}
.sidebar__add-button {
  margin: 1rem 0;
}
.sidebar.sidebar--hidden {
  transform: translateX(-100%);
}
.main.sidebar--hidden {
  padding-left: calc(var(--sidebar-width) / 2);
}
.sidebar__close-button.sidebar--hidden {
  transform: translateX(160%);
}
.todo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
}
.todo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__sections {
  display: flex;
  gap: var(--gap-02);
  flex-wrap: wrap;
}
.todo__sections-column {
  padding: 1rem;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.input-wrapper {
  border: 1.5px solid transparent;
}
input[type="text"] {
  outline: none;
}
.todo__sections-column-title-text {
  cursor: text;
}
.todo__sections-column-title-text input {
  position: absolute;
}
.input-wrapper:has(input:focus) {
  border: 1.5px solid var(--color-dark-02);
}
.todo__sections-column-title-text h4 {
  position: relative;
  min-height: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  padding: var(--padding);
}
.todo__sections-column-title-buttons {
  display: flex;
  gap: var(--gap);
  padding: var(--padding);
}
.save-button,
.cancel-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-button {
  background-color: var(--color-accent);
  color: white;
}
.cancel-button {
  background-color: var(--color-dark-03);
}
.todo__sections-add-column {
  padding: 1rem;
  width: 18.75rem;
}
.todo__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
}

.todo__list-item {
  padding: 1rem;
  border-radius: 1rem;
  border: 1.5px solid var(--color-dark-03);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-02);
  transform: translateY(1rem);
  opacity: 0;
  transition: transform var(--transition-duration) ease,
    opacity var(--transition-duration) ease;
}
.todo__list-item.--show {
  opacity: 1;
  transform: translateY(0);
}
.todo__list-item.--completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
.todo__list-item:last-child {
  margin-bottom: var(--gap-02);
}
.todo__list-item-radio {
  width: var(--radio-width);
  height: var(--radio-width);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--transition-duration);
}
.todo__list-item-radio:hover {
  border-color: green;
}
.todo__list-item-radio::after {
  content: "";
  width: calc(var(--radio-width) - 0.625rem);
  height: calc(var(--radio-width) - 0.625rem);
  background-color: var(--color-accent);
  border-radius: 50%;
  opacity: 0;
}
.todo__list-item input {
  display: none;
}
.todo__list-item input:checked + .todo__list-item-radio::after {
  opacity: 1;
}
.todo__list-input-field {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border-radius: 1rem;
  border: 1.5px solid var(--color-dark-03);
  position: relative;
}

.todo__list-input-field-close-button {
  width: 1.25rem;
  height: 1.25rem;
  align-self: flex-end;
}
.todo__list-input-field.--show {
  opacity: 1;
  visibility: visible;
}
input[type="text"] {
  padding: var(--padding);
  border: none;
}
.todo__list-input-field input[type="text"] {
  width: 100%;
  border-bottom: 1px solid var(--color-dark-03);
  font-size: 0.875rem;
}
.todo__list-input-field-buttons {
  display: flex;
  gap: var(--gap);
  align-self: flex-end;
}
.todo__list-priority-list {
  display: flex;
  gap: var(--gap);
  padding: var(--padding);
}
.todo__list-priority-list-item svg {
  stroke-width: 1.5;
}
.todo__list-priority-list-item:nth-of-type(1) svg {
  fill: rgb(69, 89, 201);
}
.todo__list-priority-list-item:nth-of-type(2) svg {
  fill: orange;
}
.todo__list-priority-list-item:nth-of-type(3) svg {
  fill: red;
}
.todo__list-input-field.--show + .todo__list-add-button {
  margin-top: var(--gap-02);
}
.--hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.todo__list-add-button {
  display: none;
}
.todo__list-input-field.--hidden + .todo__list-add-button {
  display: flex;
}
