@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}
html,
body {
  position: fixed;
  overflow: hidden;
  width: 100vh;
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 1rem;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  display: block;
}

button,
select {
  cursor: pointer;
}

svg,
select {
  color: inherit;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
}

h3 {
  font-size: 1.125rem;
}

body {
  background-color: var(--color-light);
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  transition: background var(--transition-duration) ease-in-out;
}

main {
  transition: padding var(--transition-duration-02) ease-in-out;
  padding-left: calc(var(--sidebar-width) + 2rem);
}

label,
button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* --- VARIABLES --- */
:root {
  /* COLORS */
  --color-light: #ffffff;
  --color-dark: #141414;
  --color-dark-02: #5c5c5c;
  --color-dark-03: rgba(216, 216, 216, 0.5);
  --color-dark-04: rgb(216, 216, 216);
  --color-dark-05: rgba(247, 247, 247, 0.5);

  --color-accent: rgb(224, 72, 72);

  --color-error: rgb(224, 72, 72);

  --priority-3: var(--color-dark-04);
  --priority-2: orange;
  --priority-1: var(--color-accent);

  /* CONTAINER */
  --container-width: 81.25rem;
  --container-padding-x: 1rem;

  /* SHADOWS */
  --shadow: 0 0 0.25rem 0.2rem rgb(0, 0, 0, 0.2);
  --shadow-hover: 0 0 0.25rem 0.4rem rgb(0, 0, 0, 0.1);

  /* BORDERS */
  --border: 0.063rem solid var(--color-accent);
  --border-reached: 0.063rem solid var(--color-dark-03);
  --border-radius: 0.625rem;

  /* PADDINGS */
  --padding: 0.313rem;
  --padding-02: 1rem;

  /* GAPS */
  --gap: 0.313rem;
  --gap-02: 1rem;
  --gap-03: 10rem;

  /* TRANSITIONS */
  --transition-duration: 0.2s;
  --transition-duration-02: 0.3s;

  /* ICONS */
  --icon-width: 20px;
  --icon-height: 20px;

  /* Z-INDEX */
  --modal: 1000;

  /* SIZES */

  --sidebar-width: 200px;
  --radio-width: 1.25rem;
}

:root[theme="dark"] {
  --color-light: #383838;
  --color-dark: #ffffff;

  --color-dark-02: #f8f8f8;

  --shadow: 0 0rem 0.2rem 0.25rem rgba(255, 255, 255, 0.3);
  --shadow-hover: 0 0rem 0.25rem 0.4rem rgba(255, 255, 255, 0.3);
}
/* --- UTILS --- */

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
}

.modal {
  color: white;
  width: 15.625rem;
  font-size: 14px;
  padding: var(--padding-02);
  border-radius: 1rem;
  transform: translateY(-3rem);
  background-color: var(--color-error);
  transition: transform var(--transition-duration) ease,
    opacity var(--transition-duration) ease;
  right: 1rem;
  position: fixed;
  z-index: var(--modal);
  opacity: 0;
}

.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  color: var(--color-dark-02);
  transition: background var(--transition-duration) ease-in-out;
  border-radius: var(--border-radius);
  padding: var(--padding);
}
.button svg {
  width: var(--icon-width);
  height: var(--icon-height);
}

.icon-wrapper {
  border-radius: 50%;
  background-color: var(--color-accent);
  color: white;
  padding: 0.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-select {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  position: absolute;
  border: 1px solid var(--color-dark-04);
  z-index: 1000;
}
.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: var(--color-light);
  z-index: 1000;
  width: var(--sidebar-width);
  padding: var(--padding-02) var(--padding-02) 0 var(--padding-02);
  transition: transform var(--transition-duration-02) ease-in-out,
    width var(--transition-duration-02) ease-in-out,
    background var(--transition-duration) ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-dark);
}
.sidebar__links .icon-wrapper {
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--color-dark-02);
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition-duration);
}

.sidebar__links-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.sidebar__links-list-item a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar__links-list-item a:hover {
  text-decoration: underline;
}
.sidebar__links-list-item svg {
  flex-shrink: 0;
  width: var(--icon-width);
  height: var(--icon-height);
  stroke: var(--color-dark-02);
}

.sidebar__theme {
  margin-top: 25rem;
}

.sidebar__theme-button {
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: var(--shadow);
  padding: var(--padding);
  transition: var(--transition-duration-02) ease-in-out;
}

.sidebar__theme-button svg {
  width: var(--icon-width);
  height: var(--icon-height);
}
html[theme="light"] .sidebar__theme-button-sun-icon {
  opacity: 1;
}
html[theme="dark"] .sidebar__theme-button-moon-icon {
  opacity: 1;
}
.theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--icon-height);
  width: var(--icon-height);
  opacity: 0;
}

.sidebar__theme-button-sun-icon {
  position: absolute;
  color: var(--color-dark-02);
}
.sidebar__theme-button-moon-icon {
  color: white;
}
.todo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
}
.todo__header {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
  position: fixed;
  top: 0;
}
.todo__sort-select {
  top: 5rem;
  color: var(--color-dark);
}
.todo__date {
  color: var(--color-dark);
}

.custom-select label:has(input:checked) {
  background-color: var(--color-dark-03);
}
.custom-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
}
.custom-option input {
  display: none;
}
.custom-option label {
  cursor: pointer;
}
.todo__sections {
  display: flex;
  gap: var(--gap-03);
  margin-top: 3.75rem;
}
.todo__sections-column {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex-shrink: 0;
}
.input-wrapper {
  border: 1.5px solid transparent;
}
input[type="text"] {
  outline: none;
  background-color: var(--color-light);
  color: var(--color-dark);
}
.todo__sections-column-title-text {
  cursor: text;
  position: relative;
  color: var(--color-dark);
}

.todo__sections-column-title-text input {
  width: 100%;
  position: absolute;
}
.input-wrapper:has(input:focus) {
  border: 1.5px solid var(--color-dark-02);
}
.todo__sections-column-title-text h4 {
  position: relative;
  min-height: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  padding: var(--padding);
}
.todo__sections-column-title-buttons {
  display: flex;
  gap: var(--gap);
  padding: var(--padding);
}
.save-button,
.cancel-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-button {
  background-color: var(--color-accent);
  color: white;
}
.cancel-button {
  background-color: var(--color-dark-03);
  transition: opacity var(--transition-duration) ease-in-out;
}
.cancel-button:hover {
  opacity: 0.5;
}
.todo__sections-add-column {
  padding-top: 1.875rem;
  width: 18.75rem;
}
.todo__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-block: var(--padding);
  border-top: 0.063rem solid transparent;
  border-bottom: 0.063rem solid transparent;
  border-radius: 0.063rem;
  transition: border var(--transition-duration) ease-in-out;
}
.todo__list-border {
  height: 1px;
  background-color: red;
  width: 70%;
  opacity: 0;
}

.todo__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.todo__list-item {
  padding: var(--padding-02);
  border-radius: 1rem;
  border: 1.5px solid var(--color-dark-03);
  display: flex;
  align-items: center;
  gap: var(--gap-02);
  transform: translateY(1rem);
  color: var(--color-dark);
  opacity: 0;
  transition: transform var(--transition-duration) ease,
    opacity var(--transition-duration) ease,
    background var(--transition-duration) ease;
}
.todo__list-add-button {
  justify-content: flex-start;
}
.todo__list-item-text {
  width: 100%;
  word-break: keep-all;
}

.todo__list-item-edit {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.todo__list-item-radio {
  width: var(--radio-width);
  height: var(--radio-width);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-dark-04);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--transition-duration);
}
.todo__list-item-delete-button {
  background-color: transparent;
  border: none;
  transition: var(--transition-duration);
  color: var(--color-dark);
}
.todo__list-item-radio::after {
  content: "";
  width: calc(var(--radio-width) - 0.625rem);
  height: calc(var(--radio-width) - 0.625rem);
  background-color: var(--color-dark-04);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.todo__list-item input[type="checkbox"] {
  display: none;
}
.todo__list-item input:checked + .todo__list-item-radio::after {
  opacity: 1;
}
.todo__list-input-field {
  padding: var(--padding-02);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border-radius: 1rem;
  border: 1.5px solid var(--color-dark-03);
  position: relative;
}

.todo__list-input-field-close-button {
  width: 1.25rem;
  height: 1.25rem;
  align-self: flex-end;
}

input[type="text"] {
  padding: var(--padding);
  border: none;
}
.todo__list-input-field input[type="text"] {
  width: 100%;
  border-bottom: 1px solid var(--color-dark-03);
}
.edit-buttons {
  display: flex;
  gap: var(--gap);
  align-self: flex-end;
}

.todo__list-priority-list {
  top: 90px;
  left: 1rem;
  color: var(--color-dark);
}

.todo__list-priority-list-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.todo__list-priority-list-item input {
  display: none;
}
.todo__list-priority-list-item label:has(input:checked) {
  background-color: var(--color-dark-03);
}
.todo__list-priority-button svg {
  width: var(--icon-width);
  height: var(--icon-height);
}
.todo__list-priority-list-item svg {
  stroke-width: 1.5;
}

/* PRIORITY INPUTS */
.todo__list-priority-list label:has(input[value="1"]) svg {
  fill: var(--priority-1);
  color: var(--priority-1);
}
.todo__list-priority-list label:has(input[value="2"]) svg {
  fill: var(--priority-2);
  color: var(--priority-2);
}
.todo__list-priority-list label:has(input[value="3"]) svg {
  fill: var(--priority-3);
  color: var(--priority-3);
}

/* PRIORITY BUTTON */
.todo__list-priority-button[priority="1"] svg {
  fill: var(--priority-1);
  color: var(--priority-1);
}
.todo__list-priority-button[priority="2"] svg {
  fill: var(--priority-2);
  color: var(--priority-2);
}
.todo__list-priority-button[priority="3"] svg {
  fill: var(--priority-3);
  color: var(--priority-3);
}

/* PRIORITY RADIO */
.todo__list-item[priority="1"] .todo__list-item-radio {
  border-color: var(--priority-1);
}
.todo__list-item[priority="1"] .todo__list-item-radio::after {
  background-color: var(--priority-1);
}
.todo__list-item[priority="2"] .todo__list-item-radio {
  border-color: var(--priority-2);
}
.todo__list-item[priority="2"] .todo__list-item-radio::after {
  background-color: var(--priority-2);
}
.todo__list-item[priority="3"] .todo__list-item-radio {
  border-color: var(--priority-3);
}
.todo__list-item[priority="3"] .todo__list-item-radio::after {
  background-color: var(--priority-3);
}

/* JAVASCRIPT */

/* Sidebar */
.sidebar.--closed {
  width: calc(var(--icon-width) + var(--padding) * 2 + var(--padding-02) * 2);
}
.sidebar.--closed + .main {
  padding-left: calc(var(--sidebar-width) / 2);
}
.todo__list.--top-reached {
  border-color: var(--color-dark-03);
}
.todo__list.--bottom-reached {
  border-color: var(--color-dark-03);
}

/* Task */
.todo__list-item.--show {
  opacity: 1;
  transform: translateY(0);
}
.todo__list-item.--slide {
  transform: translateY(1rem);
}
.todo__list-item.--completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
.todo__list-input-field.--show {
  opacity: 1;
  visibility: visible;
}
.modal.--show {
  transform: translate(0);
  opacity: 1;
}
.--inactive {
  opacity: 0.5;
}
.--hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.--selected {
  background-color: var(--color-dark-03);
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .todo__sections {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .sidebar__theme {
    margin-top: 21.875rem;
  }
}
@media (hover: hover) {
  .button:not(.--inactive):hover {
    background-color: var(--color-dark-03);
  }
  .sidebar__links .icon-wrapper:hover {
    background-color: var(--color-dark-03);
  }
  .sidebar__theme-button:hover {
    box-shadow: var(--shadow-hover);
  }
  .custom-option:hover {
    background-color: var(--color-dark-03);
  }
  .todo__sections-column-title-text:hover,
  .todo__sections-column-title-text input:hover {
    background-color: var(--color-dark-05);
  }
  .todo__list-item:hover {
    background-color: var(--color-dark-05);
  }
  .todo__list-item-radio:hover::after {
    opacity: 1;
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-dark-03);
  }
  .sidebar__links .icon-wrapper:active {
    background-color: var(--color-dark-03);
  }
  .custom-option:active {
    background-color: var(--color-dark-03);
  }
  .sidebar__theme-button:active {
    box-shadow: var(--shadow-hover);
  }
  .todo__list-item:active {
    background-color: var(--color-dark-05);
  }
}
